body {
	width: 100%;
	height: 100%;
	display: flex;
	margin: 0;
	overflow: hidden;
	background-image: url("images/backdrop2.png");
	background-size: cover;
}

/* sticks element to right side of screen*/ 
.absolute {
	position: absolute;
	right: 200px;
}

.knot-wrapper {
	margin-top: 15px;
	display: block;
	height: 1000px;
	width: 200px;
	padding-top: 100px;
}
/*this image is relatively placed*/
.knot-img {
	z-index: 10;
	position: relative;
	height: 160px;
	width: 160px;
}

.knot-img:hover {
	transform: scale(1.1, 1.1);
	filter:  saturate(1.5);
}

.tree-wrapper {
	width: 200px;
	height: 100%;
}

.tree {
	z-index: 5;
	position: relative;
	height: 1800px;
		bottom: 1000px;
	width: 2000px;
		right: 900px;
}

.grass {
	z-index: 6;
	position: absolute;
	height: 200px;
		bottom: -50px;
	width: 2000px;
		left: -100px;
}

/* this title only appears with the media query*/
.mobile-title {
	display: none;
	color: white;
	background-color: gray;
}

/*This will switch the format to the mobile one when the screen is small enough
This will work for any device with a screen size less wide than 700px, such as a phone or ipad.
Because of how the tree moves to stick to the right side of the screen, we don't need a large amount of queries to adapt
the website to many different devices UNTIL 700px is reached.
*/
@media only screen and (max-width: 700px) {
	/* The tree will become hidden and replaced with the background image*/  
  .tree-wrapper {
	display: none;
  }
/*the background will remain as a static image*/
  body {
	background-image: url("images/tree-backdrop.png");
	text-align: center;
  }
	/*the tree knots will follow a straight, vertical, column setup for simplicity*/
  .knot-wrapper {
	text-align: center;
	width: 100%;
	padding-top: 0;
  }
  .knot-img {
	width: 200px;
	height: 200px;
	margin-top: 10px;
	display: block;
	margin-left: auto;
    margin-right: auto;
  }
	/*removes all absolute positiong for a simpler layout*/
	.absolute {
		position: none;
		right: 0;
	}
	/*removes extra elements for simpler reading*/
	.grass {
		display: none;
	}
	/*A completely new title will appear for the mobile layout*/
	.mobile-title {
		display: inherit;
	}
}
